:root {
  --color-1: #d6f1cd;
  --color-2: #43624c;
  --color-3: #fac3d6;
  --color-4: #ffffff;
  --color-5: #000000;
  --font-1: "Dancing Script", cursive;
  --font-2: "Lato", sans-serif;
  --font-size-xxl: 48px;
  --font-size-xl: 36px;
  --font-size-l: 24px;
  --font-size-s: 12px;
  --font-size-xs: 6px;
}

.dancing {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/*general*/
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: var(--font-1);
  font-weight: 600;
  font-size: var(--font-size-xxl);
}

h2 {
  font-family: var(--font-1);
  font-weight: 200;
  font-size: var(--font-size-xl);
}

p {
  font-family: var(--font-2);
}

header,
main,
section {
  min-height: 60vh;
  padding: 20px 10px;
  background-color: var(--color-1);
}
a {
  width: fit-content;
  color: var(--color-5);
  font-weight: 600;
}
/*header*/
header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-3);
  padding: 20px 0px;
  padding-top: 0px;
}
.logo {
  max-width: 150px;
  border-radius: 100%;
}

.banner {
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--color-1);
  height: 80px;
  font-size: 18px;
}

nav > ul > li {
  width: 100px;
  text-align: center;
  padding: 10px;
  user-select: none;
}

/*Contacto*/
#contacto {
  background-color: var(--color-3);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

#contacto > img {
  max-width: 250px;
  border-radius: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#contacto > div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
}

#contacto > div > svg {
  background-color: var(--color-1);
  border-radius: 100%;
  width: 32px;
  height: 32px;
  padding: 2px;
}
